body {
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250) 0%,
    rgb(251, 252, 219) 100%
  );
}
.container {
  border-radius: 25px;
  max-width: 55%;
  margin: 5% auto;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 2%;
  box-shadow: 20px 20px 50px grey;
  position: relative;
}
.heading-section {
  border-radius: 25px;
  margin: 0% 0% 0%;
  height: 300px;
  background-size: contain;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/033/508/original/image_2022-05-05_12-21-53.png?1651746174");*/
}
h1 span {
  color: white;
  /* padding-left: 5%;*/
  position: absolute;
  top: 180px;
  left: 30px;
  display: block;
  letter-spacing: -1px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  font-family: TescoModernBold, Arial, sans-serif;
}
.heading-img {
  position: relative;
  width: 100%;
  height: 100%;
}
.short-description {
  margin: 5%;
  color: #155263;
  line-height: 2;
}
.notabene-description {
  margin: 5%;
  border-radius: 25px;
  background-color: antiquewhite;
}
.recipe-tags {
  margin: 5%;
}
.get-started {
  display: block;
  margin: 0 auto;
  background-color: #ff6f3c;
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 22px;
  width: 90%;
  transition: all 200ms ease-in-out;
  box-shadow: 10px 10px 10px #e0e0e0;
  margin-bottom: 30px;
}
.get-started:hover {
  background-color: white;
  color: #ff6f3c;
  cursor: pointer;
  border: 2px solid #ff6f3c;
}

.tag {
  border: 1px solid #ff6f3c;
  font-size: 12px;
  border-radius: 20px;
  background-color: white;
  color: #155263;
  display: block;
  padding: 3%;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
}

.tag:hover {
  background-color: #ff6f3c;
  color: white;
}

.icon-img {
  width: 32px;
  height: 32px;
}
.middle-element {
  display: inline-block;
  padding: 2%;
  width: 27%;
}
.description-span {
  padding: 2%;
  display: block;
  font-weight: bold;
  font-size: 16px;
}
.title-element {
  display: block;
  font-size: 14px;
  color: gray;
  text-align: center;
  padding: 2%;
  position: static;
  margin: 0 auto;
}
.data-element {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  padding: 2%;
  position: static;
  margin: 0 auto;
  width: 120%;
}
.neibour {
  display: inline-block;
  margin-left: 2%;
}
.tags-section {
  margin-top: 3%;
}
.social {
  width: 32px;
  height: 32px;
}
.social-block {
  align-items: right;
  margin: 0 auto;
  text-align: right;
}
.footer {
  display: inline-block;

  width: 100%;
  color: #155263;
}
.coded-by {
  margin: 5%;
  text-align: left;
}
.footer-section {
  display: inline-block;
  width: 45%;
}
.hor-line {
  margin-bottom: 30px;
}
.not-show {
  display: none;
}
.show {
  display: block;
}
@media (max-width: 700px) {
  .container {
    max-width: 95%;
  }
}
